**/*build*/
**/.*.swp
**/.DS_Store
bin/
vcpkg/
files/6096709094:AAGW5G7KanNagBqBKunaTVYSNH3LDhDKOwQ/td.binlog
files/6096709094:AAGW5G7KanNagBqBKunaTVYSNH3LDhDKOwQ/music/AgAD-CgAAvdgOEs.wav
*.wav
*.binlog